.NavigationBar {
    width: 160px;
    height: 400px;
    background-color: #1e1e1e;
    
    flex-shrink: 0;
}

.PageLayout {
    display: flex;
    gap: 40px;
    
}


.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%

}

.WebsiteNameText {
    margin: 0;
}


.LoggedInText {
    margin: 0;
}


.WebsiteText {
    text-align: center;

}

.DeleteCategoryButton {
    background-color: red;
    border-radius: 12px;
    width: 120px;
    height: 30px;
    border: 1px solid #d1d5db;

}

.DeleteCategoryButton:hover {
    background-color: #D10000
}
.btnAddCategory {
    background-color: green;
    border-radius: 12px;
    width: 120px;
    height: 30px;
    border: 1px solid #d1d5db;

}

.btnAddCategory:hover {
    background-color: #005900;
}

.InputFieldAddCategory {
    width: 120px;
    height: 20px;
    border-radius: 12px;
    border: 1px solid #d1d5db;

}

.ButtonNavigationBar {
    width: 100%;
    background-color: #1e1e1e;
    color: white;
    height: 60px;
}

.ButtonNavigationBar:hover {
    background-color: grey;
}


.AddPageDiv {
    background-color: whitesmoke;
    width: 350px;
    height: 350px;
    text-align: center;
    border-radius: 12px;
    margin-left: 280px;
    margin-top: 60px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.InputFieldToAddPages {
    
    
}
.btnAdd {
    border-radius: 10px;
    width: 100px;
    height: 50px;
    background-color: dodgerblue;
    border: 1px solid #d1d5db;

}

.btnAdd:hover {
    background-color: #0072E3;
}

.Products {
    background-color: whitesmoke;
    width: 190px;
    border-radius: 10px;
    text-align: center;

    border-style: solid;
    border-width: 2px;
    border-color: black;
    
}

.ProductsContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}

.inputFieldOnAddPage {
    width: 50%;
    border-radius: 10px;
    border: 1px solid #d1d5db;

}

.LoginPage {
    width: 450px;
    height: 400px;
    background-color: whitesmoke;
    text-align: center;
    margin-left: 400px;
    margin-top: 100px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;

    .InputFieldLoginPage {
        width: 40%;
        border-radius: 30px;
        height: 25px;
        border: 1px solid #d1d5db;
        
    }
    
    .ButtonLoginPage {
        width: 40%;
        background-color: dodgerblue;
        border-radius: 30px;
        height: 30px;
        border: 1px solid #d1d5db;
        
    }
    .ButtonLoginPage:hover {
        background-color: #0072E3;
    }

    
   
    
    
    body {
        font-family: "Arial, sans-serif";
    }

    
}

